div(action="#", class=className).form&attributes(attributes)
    h1.form__title.profile__form-title #{title}
    form.profile__form-update
        . 
            !{formAvatar}
        . 
            !{emailInput}
        . 
            !{loginInput}
        . 
            !{firstNameInput}
        . 
            !{secondNameInput}
        .        
            !{displayNameInput}
        . 
            !{phoneInput}
        . 
            !{button}
    .
        !{passwordForm}
    .
        !{avatarInput}
    . 
        !{logOutLink}
    . 
        !{backLink}
    . 
        !{updatePasswordError}