form(action="#").form&attributes(attributes)
    h1.form__title #{title}
    . 
        !{emailInput}
    . 
        !{loginInput}
    . 
        !{firstNameInput}
    . 
        !{secondNameInput}
    . 
        !{phoneInput}
    . 
        !{passwordInput}
    . 
        !{passwordInput2}
    . 
        !{signUpTextError}
    . 
        !{button}
    . 
        !{link}