form(action="#", class=className).form&attributes(attributes)
    h1.form__title #{title}
    .profile__avatar
    . 
        !{emailInput}
    . 
        !{loginInput}
    . 
        !{firstNameInput}
    . 
        !{secondNameInput}
    . 
        !{phoneInput}
    h2.profile__subtitle Изменить пароль
    . 
        !{passwordInput}
    . 
        !{passwordInput2}
    h2.profile__subtitle Сcылка на аватар
    . 
        !{avatar}
    . 
        !{button}