form(action="#").form-password&attributes(attributes)
    h1.form-password__title #{title}
    . 
        !{oldPassword}
    . 
        !{newPassword}
    . 
        !{newPassword2}
    . 
        !{button}