-
    let inputClasses = 'message-input';
    if (error) {
        inputClasses += ' message-input_error';
    }
input(type=inputType, class=inputClasses, name=name, id=inputId value=value placeholder=placeholder)


